[submodule "CPP-00"]
	path = CPP-00
	url = https://github.com/mdbentaleb/42_CPP_Module_00.git
[submodule "CPP-01"]
	path = CPP-01
	url = https://github.com/mdbentaleb/42_CPP_Module_01.git
[submodule "CPP-02"]
	path = CPP-02
	url = https://github.com/mdbentaleb/42_CPP_Module_02.git
[submodule "CPP-03"]
	path = CPP-03
	url = https://github.com/mdbentaleb/42_CPP_Module_03.git
