[submodule "CPP-00"]
	path = CPP-00
	url = https://github.com/mdbentaleb/42_CPP_Module_00.git
[submodule "CPP-01"]
	path = CPP-01
	url = https://github.com/mdbentaleb/42_CPP_Module_01.git
[submodule "CPP-02"]
	path = CPP-02
	url = https://github.com/mdbentaleb/42_CPP_Module_02.git
[submodule "CPP-03"]
	path = CPP-03
	url = https://github.com/mdbentaleb/42_CPP_Module_03.git
[submodule "CPP-04"]
	path = CPP-04
	url = https://github.com/mdbentaleb/42_CPP_Module_04.git
[submodule "CPP-05"]
	path = CPP-05
	url = https://github.com/mdbentaleb/42_CPP_Module_05.git
[submodule "CPP-06"]
	path = CPP-06
	url = https://github.com/mdbentaleb/42_CPP_Module_06.git
[submodule "CPP-07"]
	path = CPP-07
	url = https://github.com/mdbentaleb/42_CPP_Module_07.git
